$icomoon-font-path: "fonts" !default;

$dispute-dispute: "\e900";
$dispute-disputebills: "\e900";
$dispute-i-womens-health: "\e9eb";
$dispute-i-waiting-area: "\e9ec";
$dispute-i-volume-control: "\e9ed";
$dispute-i-ultrasound: "\e9ee";
$dispute-i-text-telephone: "\e9ef";
$dispute-i-surgery: "\e9f0";
$dispute-i-stairs: "\e9f1";
$dispute-i-radiology: "\e9f2";
$dispute-i-physical-therapy: "\e9f3";
$dispute-i-pharmacy: "\e9f4";
$dispute-i-pediatrics: "\e9f5";
$dispute-i-pathology: "\e9f6";
$dispute-i-outpatient: "\e9f7";
$dispute-i-mental-health: "\e9f8";
$dispute-i-medical-records: "\e9f9";
$dispute-i-medical-library: "\e9fa";
$dispute-i-mammography: "\e9fb";
$dispute-i-laboratory: "\e9fc";
$dispute-i-labor-delivery: "\e9fd";
$dispute-i-immunizations: "\e9fe";
$dispute-i-imaging-root-category: "\e9ff";
$dispute-i-imaging-alternative-pet: "\ea00";
$dispute-i-imaging-alternative-mri: "\ea01";
$dispute-i-imaging-alternative-mri-two: "\ea02";
$dispute-i-imaging-alternative-ct: "\ea03";
$dispute-i-fire-extinguisher: "\ea04";
$dispute-i-family-practice: "\ea05";
$dispute-i-emergency: "\ea06";
$dispute-i-elevators: "\ea07";
$dispute-i-ear-nose-throat: "\ea08";
$dispute-i-drinking-fountain: "\ea09";
$dispute-i-cardiology: "\ea0a";
$dispute-i-billing: "\ea0b";
$dispute-i-anesthesia: "\ea0c";
$dispute-i-ambulance: "\ea0d";
$dispute-i-alternative-complementary: "\ea0e";
$dispute-i-administration: "\ea0f";
$dispute-i-social-services: "\ea10";
$dispute-i-smoking: "\ea11";
$dispute-i-restrooms: "\ea12";
$dispute-i-restaurant: "\ea13";
$dispute-i-respiratory: "\ea14";
$dispute-i-registration: "\ea15";
$dispute-i-oncology: "\ea16";
$dispute-i-nutrition: "\ea17";
$dispute-i-nursery: "\ea18";
$dispute-i-no-smoking: "\ea19";
$dispute-i-neurology: "\ea1a";
$dispute-i-mri-pet: "\ea1b";
$dispute-i-interpreter-services: "\ea1c";
$dispute-i-internal-medicine: "\ea1d";
$dispute-i-intensive-care: "\ea1e";
$dispute-i-inpatient: "\ea1f";
$dispute-i-information-us: "\ea20";
$dispute-i-infectious-diseases: "\ea21";
$dispute-i-hearing-assistance: "\ea22";
$dispute-i-health-services: "\ea23";
$dispute-i-health-education: "\ea24";
$dispute-i-gift-shop: "\ea25";
$dispute-i-genetics: "\ea26";
$dispute-i-first-aid: "\ea27";
$dispute-i-dermatology: "\ea28";
$dispute-i-dental: "\ea29";
$dispute-i-coffee-shop: "\ea2a";
$dispute-i-chapel: "\ea2b";
$dispute-i-cath-lab: "\ea2c";
$dispute-i-care-staff-area: "\ea2d";
$dispute-i-accessibility: "\ea2e";
$dispute-i-diabetes-education: "\ea2f";
$dispute-i-hospital: "\ea30";
$dispute-i-kidney: "\ea31";
$dispute-i-ophthalmology: "\ea32";
$dispute-womens-health: "\ea33";
$dispute-waiting-area: "\ea34";
$dispute-volume-control: "\ea35";
$dispute-ultrasound: "\ea36";
$dispute-text-telephone: "\ea37";
$dispute-surgery: "\ea38";
$dispute-stairs: "\ea39";
$dispute-radiology: "\ea3a";
$dispute-physical-therapy: "\ea3b";
$dispute-pharmacy: "\ea3c";
$dispute-pediatrics: "\ea3d";
$dispute-pathology: "\ea3e";
$dispute-outpatient: "\ea3f";
$dispute-ophthalmology: "\ea40";
$dispute-mental-health: "\ea41";
$dispute-medical-records: "\ea42";
$dispute-medical-library: "\ea43";
$dispute-mammography: "\ea44";
$dispute-laboratory: "\ea45";
$dispute-labor-delivery: "\ea46";
$dispute-kidney: "\ea47";
$dispute-immunizations: "\ea48";
$dispute-imaging-root-category: "\ea49";
$dispute-imaging-alternative-pet: "\ea4a";
$dispute-imaging-alternative-mri: "\ea4b";
$dispute-imaging-alternative-mri-two: "\ea4c";
$dispute-imaging-alternative-ct: "\ea4d";
$dispute-hospital: "\ea4e";
$dispute-fire-extinguisher: "\ea4f";
$dispute-family-practice: "\ea50";
$dispute-emergency: "\ea51";
$dispute-elevators: "\ea52";
$dispute-ear-nose-throat: "\ea53";
$dispute-drinking-fountain: "\ea54";
$dispute-diabetes-education: "\ea55";
$dispute-cardiology: "\ea56";
$dispute-billing: "\ea57";
$dispute-anesthesia: "\ea58";
$dispute-ambulance2: "\ea59";
$dispute-alternative-complementary: "\ea5a";
$dispute-administration: "\ea5b";
$dispute-accessibility2: "\ea5c";
$dispute-social-services: "\ea5d";
$dispute-smoking: "\ea5e";
$dispute-restrooms: "\ea5f";
$dispute-restaurant: "\ea60";
$dispute-respiratory: "\ea61";
$dispute-oncology: "\ea62";
$dispute-nutrition: "\ea63";
$dispute-nursery: "\ea64";
$dispute-no-smoking: "\ea65";
$dispute-neurology: "\ea66";
$dispute-mri-pet: "\ea67";
$dispute-interpreter-services: "\ea68";
$dispute-internal-medicine: "\ea69";
$dispute-intensive-care: "\ea6a";
$dispute-inpatient: "\ea6b";
$dispute-information-us: "\ea6c";
$dispute-infectious-diseases: "\ea6d";
$dispute-hearing-assistance: "\ea6e";
$dispute-health-services: "\ea6f";
$dispute-health-education: "\ea70";
$dispute-gift-shop: "\ea71";
$dispute-genetics: "\ea72";
$dispute-first-aid2: "\ea73";
$dispute-dental: "\ea74";
$dispute-coffee-shop: "\ea75";
$dispute-chapel: "\ea76";
$dispute-cath-lab: "\ea77";
$dispute-care-staff-area: "\ea78";
$dispute-registration: "\ea79";
$dispute-dermatology: "\ea7a";
$dispute-glass3: "\f000";
$dispute-music: "\f001";
$dispute-search: "\f002";
$dispute-envelope-o: "\f003";
$dispute-heart2: "\f004";
$dispute-star2: "\f005";
$dispute-star-o: "\f006";
$dispute-user2: "\f007";
$dispute-film3: "\f008";
$dispute-th-large: "\f009";
$dispute-th: "\f00a";
$dispute-th-list: "\f00b";
$dispute-check2: "\f00c";
$dispute-close: "\f00d";
$dispute-remove: "\f00d";
$dispute-times: "\f00d";
$dispute-search-plus: "\f00e";
$dispute-search-minus: "\f010";
$dispute-power-off: "\f011";
$dispute-signal2: "\f012";
$dispute-cog3: "\f013";
$dispute-gear: "\f013";
$dispute-trash-o: "\f014";
$dispute-home7: "\f015";
$dispute-file-o: "\f016";
$dispute-clock-o: "\f017";
$dispute-road2: "\f018";
$dispute-download3: "\f019";
$dispute-arrow-circle-o-down: "\f01a";
$dispute-arrow-circle-o-up: "\f01b";
$dispute-inbox3: "\f01c";
$dispute-play-circle-o: "\f01d";
$dispute-repeat2: "\f01e";
$dispute-rotate-right: "\f01e";
$dispute-refresh3: "\f021";
$dispute-list-alt: "\f022";
$dispute-lock2: "\f023";
$dispute-flag4: "\f024";
$dispute-headphones2: "\f025";
$dispute-volume-off: "\f026";
$dispute-volume-down: "\f027";
$dispute-volume-up: "\f028";
$dispute-qrcode: "\f029";
$dispute-barcode4: "\f02a";
$dispute-tag2: "\f02b";
$dispute-tags2: "\f02c";
$dispute-book3: "\f02d";
$dispute-bookmark3: "\f02e";
$dispute-print: "\f02f";
$dispute-camera3: "\f030";
$dispute-font: "\f031";
$dispute-bold2: "\f032";
$dispute-italic2: "\f033";
$dispute-text-height: "\f034";
$dispute-text-width: "\f035";
$dispute-align-left2: "\f036";
$dispute-align-center: "\f037";
$dispute-align-right2: "\f038";
$dispute-align-justify: "\f039";
$dispute-list5: "\f03a";
$dispute-dedent: "\f03b";
$dispute-outdent: "\f03b";
$dispute-indent: "\f03c";
$dispute-video-camera: "\f03d";
$dispute-image: "\f03e";
$dispute-photo: "\f03e";
$dispute-picture-o: "\f03e";
$dispute-pencil6: "\f040";
$dispute-map-marker2: "\f041";
$dispute-adjust: "\f042";
$dispute-tint: "\f043";
$dispute-edit: "\f044";
$dispute-pencil-square-o: "\f044";
$dispute-share-square-o: "\f045";
$dispute-check-square-o: "\f046";
$dispute-arrows: "\f047";
$dispute-step-backward: "\f048";
$dispute-fast-backward: "\f049";
$dispute-backward: "\f04a";
$dispute-play2: "\f04b";
$dispute-pause: "\f04c";
$dispute-stop: "\f04d";
$dispute-forward: "\f04e";
$dispute-fast-forward: "\f050";
$dispute-step-forward: "\f051";
$dispute-eject: "\f052";
$dispute-chevron-left2: "\f053";
$dispute-chevron-right2: "\f054";
$dispute-plus-circle2: "\f055";
$dispute-minus-circle: "\f056";
$dispute-times-circle: "\f057";
$dispute-check-circle: "\f058";
$dispute-question-circle2: "\f059";
$dispute-info-circle: "\f05a";
$dispute-crosshairs: "\f05b";
$dispute-times-circle-o: "\f05c";
$dispute-check-circle-o: "\f05d";
$dispute-ban: "\f05e";
$dispute-arrow-left2: "\f060";
$dispute-arrow-right2: "\f061";
$dispute-arrow-up2: "\f062";
$dispute-arrow-down2: "\f063";
$dispute-mail-forward: "\f064";
$dispute-share4: "\f064";
$dispute-expand5: "\f065";
$dispute-compress: "\f066";
$dispute-plus2: "\f067";
$dispute-minus2: "\f068";
$dispute-asterisk: "\f069";
$dispute-exclamation-circle: "\f06a";
$dispute-gift2: "\f06b";
$dispute-leaf2: "\f06c";
$dispute-fire2: "\f06d";
$dispute-eye2: "\f06e";
$dispute-eye-slash: "\f070";
$dispute-exclamation-triangle: "\f071";
$dispute-warning2: "\f071";
$dispute-plane2: "\f072";
$dispute-calendar: "\f073";
$dispute-random: "\f074";
$dispute-comment: "\f075";
$dispute-magnet2: "\f076";
$dispute-chevron-up2: "\f077";
$dispute-chevron-down2: "\f078";
$dispute-retweet: "\f079";
$dispute-shopping-cart: "\f07a";
$dispute-folder2: "\f07b";
$dispute-folder-open: "\f07c";
$dispute-arrows-v: "\f07d";
$dispute-arrows-h: "\f07e";
$dispute-bar-chart: "\f080";
$dispute-bar-chart-o: "\f080";
$dispute-twitter-square: "\f081";
$dispute-facebook-square: "\f082";
$dispute-camera-retro: "\f083";
$dispute-key2: "\f084";
$dispute-cogs: "\f085";
$dispute-gears: "\f085";
$dispute-comments: "\f086";
$dispute-thumbs-o-up: "\f087";
$dispute-thumbs-o-down: "\f088";
$dispute-star-half2: "\f089";
$dispute-heart-o: "\f08a";
$dispute-sign-out: "\f08b";
$dispute-linkedin-square: "\f08c";
$dispute-thumb-tack: "\f08d";
$dispute-external-link: "\f08e";
$dispute-sign-in: "\f090";
$dispute-trophy3: "\f091";
$dispute-github-square: "\f092";
$dispute-upload3: "\f093";
$dispute-lemon-o: "\f094";
$dispute-phone2: "\f095";
$dispute-square-o: "\f096";
$dispute-bookmark-o: "\f097";
$dispute-phone-square: "\f098";
$dispute-twitter: "\f099";
$dispute-facebook: "\f09a";
$dispute-facebook-f: "\f09a";
$dispute-github: "\f09b";
$dispute-unlock2: "\f09c";
$dispute-credit-card2: "\f09d";
$dispute-feed: "\f09e";
$dispute-rss: "\f09e";
$dispute-hdd-o: "\f0a0";
$dispute-bullhorn2: "\f0a1";
$dispute-bell-o: "\f0a2";
$dispute-certificate: "\f0a3";
$dispute-hand-o-right: "\f0a4";
$dispute-hand-o-left: "\f0a5";
$dispute-hand-o-up: "\f0a6";
$dispute-hand-o-down: "\f0a7";
$dispute-arrow-circle-left: "\f0a8";
$dispute-arrow-circle-right: "\f0a9";
$dispute-arrow-circle-up: "\f0aa";
$dispute-arrow-circle-down: "\f0ab";
$dispute-globe: "\f0ac";
$dispute-wrench2: "\f0ad";
$dispute-tasks: "\f0ae";
$dispute-filter: "\f0b0";
$dispute-briefcase2: "\f0b1";
$dispute-arrows-alt: "\f0b2";
$dispute-group: "\f0c0";
$dispute-users3: "\f0c0";
$dispute-chain: "\f0c1";
$dispute-link3: "\f0c1";
$dispute-cloud2: "\f0c2";
$dispute-flask: "\f0c3";
$dispute-cut: "\f0c4";
$dispute-scissors2: "\f0c4";
$dispute-copy2: "\f0c5";
$dispute-files-o: "\f0c5";
$dispute-paperclip2: "\f0c6";
$dispute-floppy-o: "\f0c7";
$dispute-save: "\f0c7";
$dispute-square2: "\f0c8";
$dispute-bars: "\f0c9";
$dispute-navicon: "\f0c9";
$dispute-reorder: "\f0c9";
$dispute-list-ul: "\f0ca";
$dispute-list-ol: "\f0cb";
$dispute-strikethrough2: "\f0cc";
$dispute-underline2: "\f0cd";
$dispute-table: "\f0ce";
$dispute-magic: "\f0d0";
$dispute-truck2: "\f0d1";
$dispute-pinterest: "\f0d2";
$dispute-pinterest-square: "\f0d3";
$dispute-google-plus-square: "\f0d4";
$dispute-google-plus: "\f0d5";
$dispute-money: "\f0d6";
$dispute-caret-down: "\f0d7";
$dispute-caret-up: "\f0d8";
$dispute-caret-left: "\f0d9";
$dispute-caret-right: "\f0da";
$dispute-columns: "\f0db";
$dispute-sort: "\f0dc";
$dispute-unsorted: "\f0dc";
$dispute-sort-desc: "\f0dd";
$dispute-sort-down: "\f0dd";
$dispute-sort-asc: "\f0de";
$dispute-sort-up: "\f0de";
$dispute-envelope2: "\f0e0";
$dispute-linkedin: "\f0e1";
$dispute-rotate-left: "\f0e2";
$dispute-undo3: "\f0e2";
$dispute-gavel: "\f0e3";
$dispute-legal: "\f0e3";
$dispute-dashboard: "\f0e4";
$dispute-tachometer: "\f0e4";
$dispute-comment-o: "\f0e5";
$dispute-comments-o: "\f0e6";
$dispute-bolt: "\f0e7";
$dispute-flash: "\f0e7";
$dispute-sitemap: "\f0e8";
$dispute-umbrella3: "\f0e9";
$dispute-clipboard: "\f0ea";
$dispute-paste2: "\f0ea";
$dispute-lightbulb-o: "\f0eb";
$dispute-exchange: "\f0ec";
$dispute-cloud-download2: "\f0ed";
$dispute-cloud-upload2: "\f0ee";
$dispute-user-md: "\f0f0";
$dispute-stethoscope: "\f0f1";
$dispute-suitcase: "\f0f2";
$dispute-bell: "\f0f3";
$dispute-coffee: "\f0f4";
$dispute-cutlery: "\f0f5";
$dispute-file-text-o: "\f0f6";
$dispute-building-o: "\f0f7";
$dispute-hospital-o: "\f0f8";
$dispute-ambulance3: "\f0f9";
$dispute-medkit: "\f0fa";
$dispute-fighter-jet: "\f0fb";
$dispute-beer: "\f0fc";
$dispute-h-square: "\f0fd";
$dispute-plus-square2: "\f0fe";
$dispute-angle-double-left: "\f100";
$dispute-angle-double-right: "\f101";
$dispute-angle-double-up: "\f102";
$dispute-angle-double-down: "\f103";
$dispute-angle-left: "\f104";
$dispute-angle-right: "\f105";
$dispute-angle-up: "\f106";
$dispute-angle-down: "\f107";
$dispute-desktop2: "\f108";
$dispute-laptop2: "\f109";
$dispute-tablet3: "\f10a";
$dispute-mobile: "\f10b";
$dispute-mobile-phone: "\f10b";
$dispute-circle-o: "\f10c";
$dispute-quote-left: "\f10d";
$dispute-quote-right: "\f10e";
$dispute-spinner: "\f110";
$dispute-circle2: "\f111";
$dispute-mail-reply: "\f112";
$dispute-reply2: "\f112";
$dispute-github-alt: "\f113";
$dispute-folder-o: "\f114";
$dispute-folder-open-o: "\f115";
$dispute-smile-o: "\f118";
$dispute-frown-o: "\f119";
$dispute-meh-o: "\f11a";
$dispute-gamepad2: "\f11b";
$dispute-keyboard-o: "\f11c";
$dispute-flag-o: "\f11d";
$dispute-flag-checkered: "\f11e";
$dispute-terminal: "\f120";
$dispute-code2: "\f121";
$dispute-mail-reply-all: "\f122";
$dispute-reply-all2: "\f122";
$dispute-star-half-empty: "\f123";
$dispute-star-half-full: "\f123";
$dispute-star-half-o: "\f123";
$dispute-location-arrow: "\f124";
$dispute-crop2: "\f125";
$dispute-code-fork: "\f126";
$dispute-chain-broken: "\f127";
$dispute-unlink3: "\f127";
$dispute-question2: "\f128";
$dispute-info: "\f129";
$dispute-exclamation2: "\f12a";
$dispute-superscript: "\f12b";
$dispute-subscript: "\f12c";
$dispute-eraser2: "\f12d";
$dispute-puzzle-piece: "\f12e";
$dispute-microphone: "\f130";
$dispute-microphone-slash: "\f131";
$dispute-shield2: "\f132";
$dispute-calendar-o: "\f133";
$dispute-fire-extinguisher2: "\f134";
$dispute-rocket2: "\f135";
$dispute-maxcdn: "\f136";
$dispute-chevron-circle-left: "\f137";
$dispute-chevron-circle-right: "\f138";
$dispute-chevron-circle-up: "\f139";
$dispute-chevron-circle-down: "\f13a";
$dispute-html5: "\f13b";
$dispute-css3: "\f13c";
$dispute-anchor2: "\f13d";
$dispute-unlock-alt: "\f13e";
$dispute-bullseye: "\f140";
$dispute-ellipsis-h: "\f141";
$dispute-ellipsis-v: "\f142";
$dispute-rss-square: "\f143";
$dispute-play-circle2: "\f144";
$dispute-ticket2: "\f145";
$dispute-minus-square2: "\f146";
$dispute-minus-square-o: "\f147";
$dispute-level-up: "\f148";
$dispute-level-down: "\f149";
$dispute-check-square2: "\f14a";
$dispute-pencil-square: "\f14b";
$dispute-external-link-square: "\f14c";
$dispute-share-square: "\f14d";
$dispute-compass3: "\f14e";
$dispute-caret-square-o-down: "\f150";
$dispute-toggle-down: "\f150";
$dispute-caret-square-o-up: "\f151";
$dispute-toggle-up: "\f151";
$dispute-caret-square-o-right: "\f152";
$dispute-toggle-right: "\f152";
$dispute-eur: "\f153";
$dispute-euro: "\f153";
$dispute-gbp: "\f154";
$dispute-dollar: "\f155";
$dispute-usd: "\f155";
$dispute-inr: "\f156";
$dispute-rupee: "\f156";
$dispute-cny: "\f157";
$dispute-jpy: "\f157";
$dispute-rmb: "\f157";
$dispute-yen: "\f157";
$dispute-rouble: "\f158";
$dispute-rub: "\f158";
$dispute-ruble: "\f158";
$dispute-krw: "\f159";
$dispute-won: "\f159";
$dispute-bitcoin: "\f15a";
$dispute-btc: "\f15a";
$dispute-file: "\f15b";
$dispute-file-text: "\f15c";
$dispute-sort-alpha-asc2: "\f15d";
$dispute-sort-alpha-desc2: "\f15e";
$dispute-sort-amount-asc2: "\f160";
$dispute-sort-amount-desc2: "\f161";
$dispute-sort-numeric-asc2: "\f162";
$dispute-sort-numeric-desc2: "\f163";
$dispute-thumbs-up4: "\f164";
$dispute-thumbs-down4: "\f165";
$dispute-youtube-square: "\f166";
$dispute-youtube: "\f167";
$dispute-xing: "\f168";
$dispute-xing-square: "\f169";
$dispute-youtube-play: "\f16a";
$dispute-dropbox: "\f16b";
$dispute-stack-overflow: "\f16c";
$dispute-instagram: "\f16d";
$dispute-flickr: "\f16e";
$dispute-adn: "\f170";
$dispute-bitbucket: "\f171";
$dispute-bitbucket-square: "\f172";
$dispute-tumblr: "\f173";
$dispute-tumblr-square: "\f174";
$dispute-long-arrow-down: "\f175";
$dispute-long-arrow-up: "\f176";
$dispute-long-arrow-left: "\f177";
$dispute-long-arrow-right: "\f178";
$dispute-apple2: "\f179";
$dispute-windows: "\f17a";
$dispute-android: "\f17b";
$dispute-linux: "\f17c";
$dispute-dribbble: "\f17d";
$dispute-skype: "\f17e";
$dispute-foursquare: "\f180";
$dispute-trello: "\f181";
$dispute-female: "\f182";
$dispute-male: "\f183";
$dispute-gittip: "\f184";
$dispute-gratipay: "\f184";
$dispute-sun-o: "\f185";
$dispute-moon-o: "\f186";
$dispute-archive3: "\f187";
$dispute-bug2: "\f188";
$dispute-vk: "\f189";
$dispute-weibo: "\f18a";
$dispute-renren: "\f18b";
$dispute-pagelines: "\f18c";
$dispute-stack-exchange: "\f18d";
$dispute-arrow-circle-o-right: "\f18e";
$dispute-arrow-circle-o-left: "\f190";
$dispute-caret-square-o-left: "\f191";
$dispute-toggle-left: "\f191";
$dispute-dot-circle-o: "\f192";
$dispute-wheelchair2: "\f193";
$dispute-vimeo-square: "\f194";
$dispute-try: "\f195";
$dispute-turkish-lira: "\f195";
$dispute-plus-square-o: "\f196";
$dispute-space-shuttle: "\f197";
$dispute-slack: "\f198";
$dispute-envelope-square: "\f199";
$dispute-wordpress: "\f19a";
$dispute-openid: "\f19b";
$dispute-bank: "\f19c";
$dispute-institution: "\f19c";
$dispute-university: "\f19c";
$dispute-graduation-cap: "\f19d";
$dispute-mortar-board: "\f19d";
$dispute-yahoo: "\f19e";
$dispute-google: "\f1a0";
$dispute-reddit: "\f1a1";
$dispute-reddit-square: "\f1a2";
$dispute-stumbleupon-circle: "\f1a3";
$dispute-stumbleupon: "\f1a4";
$dispute-delicious: "\f1a5";
$dispute-digg: "\f1a6";
$dispute-pied-piper-pp: "\f1a7";
$dispute-pied-piper-alt: "\f1a8";
$dispute-drupal: "\f1a9";
$dispute-joomla: "\f1aa";
$dispute-language: "\f1ab";
$dispute-fax: "\f1ac";
$dispute-building: "\f1ad";
$dispute-child: "\f1ae";
$dispute-paw2: "\f1b0";
$dispute-spoon: "\f1b1";
$dispute-cube2: "\f1b2";
$dispute-cubes: "\f1b3";
$dispute-behance: "\f1b4";
$dispute-behance-square: "\f1b5";
$dispute-steam: "\f1b6";
$dispute-steam-square: "\f1b7";
$dispute-recycle2: "\f1b8";
$dispute-automobile: "\f1b9";
$dispute-car3: "\f1b9";
$dispute-cab: "\f1ba";
$dispute-taxi2: "\f1ba";
$dispute-tree2: "\f1bb";
$dispute-spotify: "\f1bc";
$dispute-deviantart: "\f1bd";
$dispute-soundcloud: "\f1be";
$dispute-database2: "\f1c0";
$dispute-file-pdf-o: "\f1c1";
$dispute-file-word-o: "\f1c2";
$dispute-file-excel-o: "\f1c3";
$dispute-file-powerpoint-o: "\f1c4";
$dispute-file-image-o: "\f1c5";
$dispute-file-photo-o: "\f1c5";
$dispute-file-picture-o: "\f1c5";
$dispute-file-archive-o: "\f1c6";
$dispute-file-zip-o: "\f1c6";
$dispute-file-audio-o: "\f1c7";
$dispute-file-sound-o: "\f1c7";
$dispute-file-movie-o: "\f1c8";
$dispute-file-video-o: "\f1c8";
$dispute-file-code-o: "\f1c9";
$dispute-vine: "\f1ca";
$dispute-codepen: "\f1cb";
$dispute-jsfiddle: "\f1cc";
$dispute-life-bouy: "\f1cd";
$dispute-life-buoy: "\f1cd";
$dispute-life-ring: "\f1cd";
$dispute-life-saver: "\f1cd";
$dispute-support: "\f1cd";
$dispute-circle-o-notch: "\f1ce";
$dispute-ra: "\f1d0";
$dispute-rebel: "\f1d0";
$dispute-resistance: "\f1d0";
$dispute-empire: "\f1d1";
$dispute-ge: "\f1d1";
$dispute-git-square: "\f1d2";
$dispute-git: "\f1d3";
$dispute-hacker-news: "\f1d4";
$dispute-y-combinator-square: "\f1d4";
$dispute-yc-square: "\f1d4";
$dispute-tencent-weibo: "\f1d5";
$dispute-qq: "\f1d6";
$dispute-wechat: "\f1d7";
$dispute-weixin: "\f1d7";
$dispute-paper-plane2: "\f1d8";
$dispute-send: "\f1d8";
$dispute-paper-plane-o: "\f1d9";
$dispute-send-o: "\f1d9";
$dispute-history3: "\f1da";
$dispute-circle-thin: "\f1db";
$dispute-header: "\f1dc";
$dispute-paragraph: "\f1dd";
$dispute-sliders: "\f1de";
$dispute-share-alt: "\f1e0";
$dispute-share-alt-square: "\f1e1";
$dispute-bomb: "\f1e2";
$dispute-futbol-o: "\f1e3";
$dispute-soccer-ball-o: "\f1e3";
$dispute-tty: "\f1e4";
$dispute-binoculars3: "\f1e5";
$dispute-plug: "\f1e6";
$dispute-slideshare: "\f1e7";
$dispute-twitch: "\f1e8";
$dispute-yelp: "\f1e9";
$dispute-newspaper-o: "\f1ea";
$dispute-wifi2: "\f1eb";
$dispute-calculator3: "\f1ec";
$dispute-paypal: "\f1ed";
$dispute-google-wallet: "\f1ee";
$dispute-cc-visa: "\f1f0";
$dispute-cc-mastercard: "\f1f1";
$dispute-cc-discover: "\f1f2";
$dispute-cc-amex: "\f1f3";
$dispute-cc-paypal: "\f1f4";
$dispute-cc-stripe: "\f1f5";
$dispute-bell-slash: "\f1f6";
$dispute-bell-slash-o: "\f1f7";
$dispute-trash4: "\f1f8";
$dispute-copyright: "\f1f9";
$dispute-at: "\f1fa";
$dispute-eyedropper: "\f1fb";
$dispute-paint-brush: "\f1fc";
$dispute-birthday-cake: "\f1fd";
$dispute-area-chart: "\f1fe";
$dispute-pie-chart3: "\f200";
$dispute-line-chart: "\f201";
$dispute-lastfm: "\f202";
$dispute-lastfm-square: "\f203";
$dispute-toggle-off2: "\f204";
$dispute-toggle-on2: "\f205";
$dispute-bicycle3: "\f206";
$dispute-bus3: "\f207";
$dispute-ioxhost: "\f208";
$dispute-angellist: "\f209";
$dispute-cc: "\f20a";
$dispute-ils: "\f20b";
$dispute-shekel: "\f20b";
$dispute-sheqel: "\f20b";
$dispute-meanpath: "\f20c";
$dispute-buysellads: "\f20d";
$dispute-connectdevelop: "\f20e";
$dispute-dashcube: "\f210";
$dispute-forumbee: "\f211";
$dispute-leanpub: "\f212";
$dispute-sellsy: "\f213";
$dispute-shirtsinbulk: "\f214";
$dispute-simplybuilt: "\f215";
$dispute-skyatlas: "\f216";
$dispute-cart-plus3: "\f217";
$dispute-cart-arrow-down: "\f218";
$dispute-diamond5: "\f219";
$dispute-ship3: "\f21a";
$dispute-user-secret: "\f21b";
$dispute-motorcycle: "\f21c";
$dispute-street-view: "\f21d";
$dispute-heartbeat: "\f21e";
$dispute-venus: "\f221";
$dispute-mars: "\f222";
$dispute-mercury: "\f223";
$dispute-intersex: "\f224";
$dispute-transgender: "\f224";
$dispute-transgender-alt: "\f225";
$dispute-venus-double: "\f226";
$dispute-mars-double: "\f227";
$dispute-venus-mars: "\f228";
$dispute-mars-stroke: "\f229";
$dispute-mars-stroke-v: "\f22a";
$dispute-mars-stroke-h: "\f22b";
$dispute-neuter: "\f22c";
$dispute-genderless: "\f22d";
$dispute-facebook-official: "\f230";
$dispute-pinterest-p: "\f231";
$dispute-whatsapp: "\f232";
$dispute-server2: "\f233";
$dispute-user-plus2: "\f234";
$dispute-user-times: "\f235";
$dispute-bed2: "\f236";
$dispute-hotel: "\f236";
$dispute-viacoin: "\f237";
$dispute-train2: "\f238";
$dispute-subway: "\f239";
$dispute-medium: "\f23a";
$dispute-y-combinator: "\f23b";
$dispute-yc: "\f23b";
$dispute-optin-monster: "\f23c";
$dispute-opencart: "\f23d";
$dispute-expeditedssl: "\f23e";
$dispute-battery-4: "\f240";
$dispute-battery-full2: "\f240";
$dispute-battery-3: "\f241";
$dispute-battery-three-quarters: "\f241";
$dispute-battery-2: "\f242";
$dispute-battery-half: "\f242";
$dispute-battery-1: "\f243";
$dispute-battery-quarter: "\f243";
$dispute-battery-0: "\f244";
$dispute-battery-empty2: "\f244";
$dispute-mouse-pointer: "\f245";
$dispute-i-cursor: "\f246";
$dispute-object-group: "\f247";
$dispute-object-ungroup: "\f248";
$dispute-sticky-note: "\f249";
$dispute-sticky-note-o: "\f24a";
$dispute-cc-jcb: "\f24b";
$dispute-cc-diners-club: "\f24c";
$dispute-clone: "\f24d";
$dispute-balance-scale: "\f24e";
$dispute-hourglass-o: "\f250";
$dispute-hourglass-1: "\f251";
$dispute-hourglass-start: "\f251";
$dispute-hourglass-2: "\f252";
$dispute-hourglass-half: "\f252";
$dispute-hourglass-3: "\f253";
$dispute-hourglass-end: "\f253";
$dispute-hourglass2: "\f254";
$dispute-hand-grab-o: "\f255";
$dispute-hand-rock-o: "\f255";
$dispute-hand-paper-o: "\f256";
$dispute-hand-stop-o: "\f256";
$dispute-hand-scissors-o: "\f257";
$dispute-hand-lizard-o: "\f258";
$dispute-hand-spock-o: "\f259";
$dispute-hand-pointer-o: "\f25a";
$dispute-hand-peace-o: "\f25b";
$dispute-trademark: "\f25c";
$dispute-registered: "\f25d";
$dispute-creative-commons: "\f25e";
$dispute-gg: "\f260";
$dispute-gg-circle: "\f261";
$dispute-tripadvisor: "\f262";
$dispute-odnoklassniki: "\f263";
$dispute-odnoklassniki-square: "\f264";
$dispute-get-pocket: "\f265";
$dispute-wikipedia-w: "\f266";
$dispute-safari: "\f267";
$dispute-chrome: "\f268";
$dispute-firefox: "\f269";
$dispute-opera: "\f26a";
$dispute-internet-explorer: "\f26b";
$dispute-television: "\f26c";
$dispute-tv2: "\f26c";
$dispute-contao: "\f26d";
$dispute-500px: "\f26e";
$dispute-amazon: "\f270";
$dispute-calendar-plus-o: "\f271";
$dispute-calendar-minus-o: "\f272";
$dispute-calendar-times-o: "\f273";
$dispute-calendar-check-o: "\f274";
$dispute-industry: "\f275";
$dispute-map-pin: "\f276";
$dispute-map-signs: "\f277";
$dispute-map-o: "\f278";
$dispute-map3: "\f279";
$dispute-commenting: "\f27a";
$dispute-commenting-o: "\f27b";
$dispute-houzz: "\f27c";
$dispute-vimeo: "\f27d";
$dispute-black-tie: "\f27e";
$dispute-fonticons: "\f280";
$dispute-reddit-alien: "\f281";
$dispute-edge: "\f282";
$dispute-credit-card-alt: "\f283";
$dispute-codiepie: "\f284";
$dispute-modx: "\f285";
$dispute-fort-awesome: "\f286";
$dispute-usb: "\f287";
$dispute-product-hunt: "\f288";
$dispute-mixcloud: "\f289";
$dispute-scribd: "\f28a";
$dispute-pause-circle2: "\f28b";
$dispute-pause-circle-o: "\f28c";
$dispute-stop-circle2: "\f28d";
$dispute-stop-circle-o: "\f28e";
$dispute-shopping-bag: "\f290";
$dispute-shopping-basket: "\f291";
$dispute-hashtag: "\f292";
$dispute-bluetooth: "\f293";
$dispute-bluetooth-b: "\f294";
$dispute-percent2: "\f295";
$dispute-gitlab: "\f296";
$dispute-wpbeginner: "\f297";
$dispute-wpforms: "\f298";
$dispute-envira: "\f299";
$dispute-universal-access: "\f29a";
$dispute-wheelchair-alt: "\f29b";
$dispute-question-circle-o: "\f29c";
$dispute-blind: "\f29d";
$dispute-audio-description: "\f29e";
$dispute-volume-control-phone: "\f2a0";
$dispute-braille: "\f2a1";
$dispute-assistive-listening-systems: "\f2a2";
$dispute-american-sign-language-interpreting: "\f2a3";
$dispute-asl-interpreting: "\f2a3";
$dispute-deaf: "\f2a4";
$dispute-deafness: "\f2a4";
$dispute-hard-of-hearing: "\f2a4";
$dispute-glide: "\f2a5";
$dispute-glide-g: "\f2a6";
$dispute-sign-language: "\f2a7";
$dispute-signing: "\f2a7";
$dispute-low-vision: "\f2a8";
$dispute-viadeo: "\f2a9";
$dispute-viadeo-square: "\f2aa";
$dispute-snapchat: "\f2ab";
$dispute-snapchat-ghost: "\f2ac";
$dispute-snapchat-square: "\f2ad";
$dispute-pied-piper: "\f2ae";
$dispute-first-order: "\f2b0";
$dispute-yoast: "\f2b1";
$dispute-themeisle: "\f2b2";
$dispute-google-plus-circle: "\f2b3";
$dispute-google-plus-official: "\f2b3";
$dispute-fa: "\f2b4";
$dispute-font-awesome: "\f2b4";
$dispute-home: "\e600";
$dispute-home2: "\e601";
$dispute-home3: "\e602";
$dispute-home4: "\e603";
$dispute-home5: "\e604";
$dispute-home6: "\e605";
$dispute-bathtub: "\e606";
$dispute-toothbrush: "\e607";
$dispute-bed: "\e608";
$dispute-couch: "\e609";
$dispute-chair: "\e60a";
$dispute-city: "\e60b";
$dispute-apartment: "\e60c";
$dispute-pencil: "\e60d";
$dispute-pencil2: "\e60e";
$dispute-pen: "\e60f";
$dispute-pencil3: "\e610";
$dispute-eraser: "\e611";
$dispute-pencil4: "\e612";
$dispute-pencil5: "\e613";
$dispute-feather: "\e614";
$dispute-feather2: "\e615";
$dispute-feather3: "\e616";
$dispute-pen2: "\e617";
$dispute-pen-add: "\e618";
$dispute-pen-remove: "\e619";
$dispute-vector: "\e61a";
$dispute-pen3: "\e61b";
$dispute-blog: "\e61c";
$dispute-brush: "\e61d";
$dispute-brush2: "\e61e";
$dispute-spray: "\e61f";
$dispute-paint-roller: "\e620";
$dispute-stamp: "\e621";
$dispute-tape: "\e622";
$dispute-desk-tape: "\e623";
$dispute-texture: "\e624";
$dispute-eye-dropper: "\e625";
$dispute-palette: "\e626";
$dispute-color-sampler: "\e627";
$dispute-bucket: "\e628";
$dispute-gradient: "\e629";
$dispute-gradient2: "\e62a";
$dispute-magic-wand: "\e62b";
$dispute-magnet: "\e62c";
$dispute-pencil-ruler: "\e62d";
$dispute-pencil-ruler2: "\e62e";
$dispute-compass: "\e62f";
$dispute-aim: "\e630";
$dispute-gun: "\e631";
$dispute-bottle: "\e632";
$dispute-drop: "\e633";
$dispute-drop-crossed: "\e634";
$dispute-drop2: "\e635";
$dispute-snow: "\e636";
$dispute-snow2: "\e637";
$dispute-fire: "\e638";
$dispute-lighter: "\e639";
$dispute-knife: "\e63a";
$dispute-dagger: "\e63b";
$dispute-tissue: "\e63c";
$dispute-toilet-paper: "\e63d";
$dispute-poop: "\e63e";
$dispute-umbrella: "\e63f";
$dispute-umbrella2: "\e640";
$dispute-rain: "\e641";
$dispute-tornado: "\e642";
$dispute-wind: "\e643";
$dispute-fan: "\e644";
$dispute-contrast: "\e645";
$dispute-sun-small: "\e646";
$dispute-sun: "\e647";
$dispute-sun2: "\e648";
$dispute-moon: "\e649";
$dispute-cloud: "\e64a";
$dispute-cloud-upload: "\e64b";
$dispute-cloud-download: "\e64c";
$dispute-cloud-rain: "\e64d";
$dispute-cloud-hailstones: "\e64e";
$dispute-cloud-snow: "\e64f";
$dispute-cloud-windy: "\e650";
$dispute-sun-wind: "\e651";
$dispute-cloud-fog: "\e652";
$dispute-cloud-sun: "\e653";
$dispute-cloud-lightning: "\e654";
$dispute-cloud-sync: "\e655";
$dispute-cloud-lock: "\e656";
$dispute-cloud-gear: "\e657";
$dispute-cloud-alert: "\e658";
$dispute-cloud-check: "\e659";
$dispute-cloud-cross: "\e65a";
$dispute-cloud-crossed: "\e65b";
$dispute-cloud-database: "\e65c";
$dispute-database: "\e65d";
$dispute-database-add: "\e65e";
$dispute-database-remove: "\e65f";
$dispute-database-lock: "\e660";
$dispute-database-refresh: "\e661";
$dispute-database-check: "\e662";
$dispute-database-history: "\e663";
$dispute-database-upload: "\e664";
$dispute-database-download: "\e665";
$dispute-server: "\e666";
$dispute-shield: "\e667";
$dispute-shield-check: "\e668";
$dispute-shield-alert: "\e669";
$dispute-shield-cross: "\e66a";
$dispute-lock: "\e66b";
$dispute-rotation-lock: "\e66c";
$dispute-unlock: "\e66d";
$dispute-key: "\e66e";
$dispute-key-hole: "\e66f";
$dispute-toggle-off: "\e670";
$dispute-toggle-on: "\e671";
$dispute-cog: "\e672";
$dispute-cog2: "\e673";
$dispute-wrench: "\e674";
$dispute-screwdriver: "\e675";
$dispute-hammer-wrench: "\e676";
$dispute-hammer: "\e677";
$dispute-saw: "\e678";
$dispute-axe: "\e679";
$dispute-axe2: "\e67a";
$dispute-shovel: "\e67b";
$dispute-pickaxe: "\e67c";
$dispute-factory: "\e67d";
$dispute-factory2: "\e67e";
$dispute-recycle: "\e67f";
$dispute-trash: "\e680";
$dispute-trash2: "\e681";
$dispute-trash3: "\e682";
$dispute-broom: "\e683";
$dispute-game: "\e684";
$dispute-gamepad: "\e685";
$dispute-joystick: "\e686";
$dispute-dice: "\e687";
$dispute-spades: "\e688";
$dispute-diamonds: "\e689";
$dispute-clubs: "\e68a";
$dispute-hearts: "\e68b";
$dispute-heart: "\e68c";
$dispute-star: "\e68d";
$dispute-star-half: "\e68e";
$dispute-star-empty: "\e68f";
$dispute-flag: "\e690";
$dispute-flag2: "\e691";
$dispute-flag3: "\e692";
$dispute-mailbox-full: "\e693";
$dispute-mailbox-empty: "\e694";
$dispute-at-sign: "\e695";
$dispute-envelope: "\e696";
$dispute-envelope-open: "\e697";
$dispute-paperclip: "\e698";
$dispute-paper-plane: "\e699";
$dispute-reply: "\e69a";
$dispute-reply-all: "\e69b";
$dispute-inbox: "\e69c";
$dispute-inbox2: "\e69d";
$dispute-outbox: "\e69e";
$dispute-box: "\e69f";
$dispute-archive: "\e6a0";
$dispute-archive2: "\e6a1";
$dispute-drawers: "\e6a2";
$dispute-drawers2: "\e6a3";
$dispute-drawers3: "\e6a4";
$dispute-eye: "\e6a5";
$dispute-eye-crossed: "\e6a6";
$dispute-eye-plus: "\e6a7";
$dispute-eye-minus: "\e6a8";
$dispute-binoculars: "\e6a9";
$dispute-binoculars2: "\e6aa";
$dispute-hdd: "\e6ab";
$dispute-hdd-down: "\e6ac";
$dispute-hdd-up: "\e6ad";
$dispute-floppy-disk: "\e6ae";
$dispute-disc: "\e6af";
$dispute-tape2: "\e6b0";
$dispute-printer: "\e6b1";
$dispute-shredder: "\e6b2";
$dispute-file-empty: "\e6b3";
$dispute-file-add: "\e6b4";
$dispute-file-check: "\e6b5";
$dispute-file-lock: "\e6b6";
$dispute-files: "\e6b7";
$dispute-copy: "\e6b8";
$dispute-compare: "\e6b9";
$dispute-folder: "\e6ba";
$dispute-folder-search: "\e6bb";
$dispute-folder-plus: "\e6bc";
$dispute-folder-minus: "\e6bd";
$dispute-folder-download: "\e6be";
$dispute-folder-upload: "\e6bf";
$dispute-folder-star: "\e6c0";
$dispute-folder-heart: "\e6c1";
$dispute-folder-user: "\e6c2";
$dispute-folder-shared: "\e6c3";
$dispute-folder-music: "\e6c4";
$dispute-folder-picture: "\e6c5";
$dispute-folder-film: "\e6c6";
$dispute-scissors: "\e6c7";
$dispute-paste: "\e6c8";
$dispute-clipboard-empty: "\e6c9";
$dispute-clipboard-pencil: "\e6ca";
$dispute-clipboard-text: "\e6cb";
$dispute-clipboard-check: "\e6cc";
$dispute-clipboard-down: "\e6cd";
$dispute-clipboard-left: "\e6ce";
$dispute-clipboard-alert: "\e6cf";
$dispute-clipboard-user: "\e6d0";
$dispute-register: "\e6d1";
$dispute-enter: "\e6d2";
$dispute-exit: "\e6d3";
$dispute-papers: "\e6d4";
$dispute-news: "\e6d5";
$dispute-reading: "\e6d6";
$dispute-typewriter: "\e6d7";
$dispute-document: "\e6d8";
$dispute-document2: "\e6d9";
$dispute-graduation-hat: "\e6da";
$dispute-license: "\e6db";
$dispute-license2: "\e6dc";
$dispute-medal-empty: "\e6dd";
$dispute-medal-first: "\e6de";
$dispute-medal-second: "\e6df";
$dispute-medal-third: "\e6e0";
$dispute-podium: "\e6e1";
$dispute-trophy: "\e6e2";
$dispute-trophy2: "\e6e3";
$dispute-music-note: "\e6e4";
$dispute-music-note2: "\e6e5";
$dispute-music-note3: "\e6e6";
$dispute-playlist: "\e6e7";
$dispute-playlist-add: "\e6e8";
$dispute-guitar: "\e6e9";
$dispute-trumpet: "\e6ea";
$dispute-album: "\e6eb";
$dispute-shuffle: "\e6ec";
$dispute-repeat-one: "\e6ed";
$dispute-repeat: "\e6ee";
$dispute-headphones: "\e6ef";
$dispute-headset: "\e6f0";
$dispute-loudspeaker: "\e6f1";
$dispute-equalizer: "\e6f2";
$dispute-theater: "\e6f3";
$dispute-3d-glasses: "\e6f4";
$dispute-ticket: "\e6f5";
$dispute-presentation: "\e6f6";
$dispute-play: "\e6f7";
$dispute-film-play: "\e6f8";
$dispute-clapboard-play: "\e6f9";
$dispute-media: "\e6fa";
$dispute-film: "\e6fb";
$dispute-film2: "\e6fc";
$dispute-surveillance: "\e6fd";
$dispute-surveillance2: "\e6fe";
$dispute-camera: "\e6ff";
$dispute-camera-crossed: "\e700";
$dispute-camera-play: "\e701";
$dispute-time-lapse: "\e702";
$dispute-record: "\e703";
$dispute-camera2: "\e704";
$dispute-camera-flip: "\e705";
$dispute-panorama: "\e706";
$dispute-time-lapse2: "\e707";
$dispute-shutter: "\e708";
$dispute-shutter2: "\e709";
$dispute-face-detection: "\e70a";
$dispute-flare: "\e70b";
$dispute-convex: "\e70c";
$dispute-concave: "\e70d";
$dispute-picture: "\e70e";
$dispute-picture2: "\e70f";
$dispute-picture3: "\e710";
$dispute-pictures: "\e711";
$dispute-book: "\e712";
$dispute-audio-book: "\e713";
$dispute-book2: "\e714";
$dispute-bookmark: "\e715";
$dispute-bookmark2: "\e716";
$dispute-label: "\e717";
$dispute-library: "\e718";
$dispute-library2: "\e719";
$dispute-contacts: "\e71a";
$dispute-profile: "\e71b";
$dispute-portrait: "\e71c";
$dispute-portrait2: "\e71d";
$dispute-user: "\e71e";
$dispute-user-plus: "\e71f";
$dispute-user-minus: "\e720";
$dispute-user-lock: "\e721";
$dispute-users: "\e722";
$dispute-users2: "\e723";
$dispute-users-plus: "\e724";
$dispute-users-minus: "\e725";
$dispute-group-work: "\e726";
$dispute-woman: "\e727";
$dispute-man: "\e728";
$dispute-baby: "\e729";
$dispute-baby2: "\e72a";
$dispute-baby3: "\e72b";
$dispute-baby-bottle: "\e72c";
$dispute-walk: "\e72d";
$dispute-hand-waving: "\e72e";
$dispute-jump: "\e72f";
$dispute-run: "\e730";
$dispute-woman2: "\e731";
$dispute-man2: "\e732";
$dispute-man-woman: "\e733";
$dispute-height: "\e734";
$dispute-weight: "\e735";
$dispute-scale: "\e736";
$dispute-button: "\e737";
$dispute-bow-tie: "\e738";
$dispute-tie: "\e739";
$dispute-socks: "\e73a";
$dispute-shoe: "\e73b";
$dispute-shoes: "\e73c";
$dispute-hat: "\e73d";
$dispute-pants: "\e73e";
$dispute-shorts: "\e73f";
$dispute-flip-flops: "\e740";
$dispute-shirt: "\e741";
$dispute-hanger: "\e742";
$dispute-laundry: "\e743";
$dispute-store: "\e744";
$dispute-haircut: "\e745";
$dispute-store-24: "\e746";
$dispute-barcode: "\e747";
$dispute-barcode2: "\e748";
$dispute-barcode3: "\e749";
$dispute-cashier: "\e74a";
$dispute-bag: "\e74b";
$dispute-bag2: "\e74c";
$dispute-cart: "\e74d";
$dispute-cart-empty: "\e74e";
$dispute-cart-full: "\e74f";
$dispute-cart-plus: "\e750";
$dispute-cart-plus2: "\e751";
$dispute-cart-add: "\e752";
$dispute-cart-remove: "\e753";
$dispute-cart-exchange: "\e754";
$dispute-tag: "\e755";
$dispute-tags: "\e756";
$dispute-receipt: "\e757";
$dispute-wallet: "\e758";
$dispute-credit-card: "\e759";
$dispute-cash-dollar: "\e75a";
$dispute-cash-euro: "\e75b";
$dispute-cash-pound: "\e75c";
$dispute-cash-yen: "\e75d";
$dispute-bag-dollar: "\e75e";
$dispute-bag-euro: "\e75f";
$dispute-bag-pound: "\e760";
$dispute-bag-yen: "\e761";
$dispute-coin-dollar: "\e762";
$dispute-coin-euro: "\e763";
$dispute-coin-pound: "\e764";
$dispute-coin-yen: "\e765";
$dispute-calculator: "\e766";
$dispute-calculator2: "\e767";
$dispute-abacus: "\e768";
$dispute-vault: "\e769";
$dispute-telephone: "\e76a";
$dispute-phone-lock: "\e76b";
$dispute-phone-wave: "\e76c";
$dispute-phone-pause: "\e76d";
$dispute-phone-outgoing: "\e76e";
$dispute-phone-incoming: "\e76f";
$dispute-phone-in-out: "\e770";
$dispute-phone-error: "\e771";
$dispute-phone-sip: "\e772";
$dispute-phone-plus: "\e773";
$dispute-phone-minus: "\e774";
$dispute-voicemail: "\e775";
$dispute-dial: "\e776";
$dispute-telephone2: "\e777";
$dispute-pushpin: "\e778";
$dispute-pushpin2: "\e779";
$dispute-map-marker: "\e77a";
$dispute-map-marker-user: "\e77b";
$dispute-map-marker-down: "\e77c";
$dispute-map-marker-check: "\e77d";
$dispute-map-marker-crossed: "\e77e";
$dispute-radar: "\e77f";
$dispute-compass2: "\e780";
$dispute-map: "\e781";
$dispute-map2: "\e782";
$dispute-location: "\e783";
$dispute-road-sign: "\e784";
$dispute-calendar-empty: "\e785";
$dispute-calendar-check: "\e786";
$dispute-calendar-cross: "\e787";
$dispute-calendar-31: "\e788";
$dispute-calendar-full: "\e789";
$dispute-calendar-insert: "\e78a";
$dispute-calendar-text: "\e78b";
$dispute-calendar-user: "\e78c";
$dispute-mouse: "\e78d";
$dispute-mouse-left: "\e78e";
$dispute-mouse-right: "\e78f";
$dispute-mouse-both: "\e790";
$dispute-keyboard: "\e791";
$dispute-keyboard-up: "\e792";
$dispute-keyboard-down: "\e793";
$dispute-delete: "\e794";
$dispute-spell-check: "\e795";
$dispute-escape: "\e796";
$dispute-enter2: "\e797";
$dispute-screen: "\e798";
$dispute-aspect-ratio: "\e799";
$dispute-signal: "\e79a";
$dispute-signal-lock: "\e79b";
$dispute-signal-80: "\e79c";
$dispute-signal-60: "\e79d";
$dispute-signal-40: "\e79e";
$dispute-signal-20: "\e79f";
$dispute-signal-0: "\e7a0";
$dispute-signal-blocked: "\e7a1";
$dispute-sim: "\e7a2";
$dispute-flash-memory: "\e7a3";
$dispute-usb-drive: "\e7a4";
$dispute-phone: "\e7a5";
$dispute-smartphone: "\e7a6";
$dispute-smartphone-notification: "\e7a7";
$dispute-smartphone-vibration: "\e7a8";
$dispute-smartphone-embed: "\e7a9";
$dispute-smartphone-waves: "\e7aa";
$dispute-tablet: "\e7ab";
$dispute-tablet2: "\e7ac";
$dispute-laptop: "\e7ad";
$dispute-laptop-phone: "\e7ae";
$dispute-desktop: "\e7af";
$dispute-launch: "\e7b0";
$dispute-new-tab: "\e7b1";
$dispute-window: "\e7b2";
$dispute-cable: "\e7b3";
$dispute-cable2: "\e7b4";
$dispute-tv: "\e7b5";
$dispute-radio: "\e7b6";
$dispute-remote-control: "\e7b7";
$dispute-power-switch: "\e7b8";
$dispute-power: "\e7b9";
$dispute-power-crossed: "\e7ba";
$dispute-flash-auto: "\e7bb";
$dispute-lamp: "\e7bc";
$dispute-flashlight: "\e7bd";
$dispute-lampshade: "\e7be";
$dispute-cord: "\e7bf";
$dispute-outlet: "\e7c0";
$dispute-battery-power: "\e7c1";
$dispute-battery-empty: "\e7c2";
$dispute-battery-alert: "\e7c3";
$dispute-battery-error: "\e7c4";
$dispute-battery-low1: "\e7c5";
$dispute-battery-low2: "\e7c6";
$dispute-battery-low3: "\e7c7";
$dispute-battery-mid1: "\e7c8";
$dispute-battery-mid2: "\e7c9";
$dispute-battery-mid3: "\e7ca";
$dispute-battery-full: "\e7cb";
$dispute-battery-charging: "\e7cc";
$dispute-battery-charging2: "\e7cd";
$dispute-battery-charging3: "\e7ce";
$dispute-battery-charging4: "\e7cf";
$dispute-battery-charging5: "\e7d0";
$dispute-battery-charging6: "\e7d1";
$dispute-battery-charging7: "\e7d2";
$dispute-chip: "\e7d3";
$dispute-chip-x64: "\e7d4";
$dispute-chip-x86: "\e7d5";
$dispute-bubble: "\e7d6";
$dispute-bubbles: "\e7d7";
$dispute-bubble-dots: "\e7d8";
$dispute-bubble-alert: "\e7d9";
$dispute-bubble-question: "\e7da";
$dispute-bubble-text: "\e7db";
$dispute-bubble-pencil: "\e7dc";
$dispute-bubble-picture: "\e7dd";
$dispute-bubble-video: "\e7de";
$dispute-bubble-user: "\e7df";
$dispute-bubble-quote: "\e7e0";
$dispute-bubble-heart: "\e7e1";
$dispute-bubble-emoticon: "\e7e2";
$dispute-bubble-attachment: "\e7e3";
$dispute-phone-bubble: "\e7e4";
$dispute-quote-open: "\e7e5";
$dispute-quote-close: "\e7e6";
$dispute-dna: "\e7e7";
$dispute-heart-pulse: "\e7e8";
$dispute-pulse: "\e7e9";
$dispute-syringe: "\e7ea";
$dispute-pills: "\e7eb";
$dispute-first-aid: "\e7ec";
$dispute-lifebuoy: "\e7ed";
$dispute-bandage: "\e7ee";
$dispute-bandages: "\e7ef";
$dispute-thermometer: "\e7f0";
$dispute-microscope: "\e7f1";
$dispute-brain: "\e7f2";
$dispute-beaker: "\e7f3";
$dispute-skull: "\e7f4";
$dispute-bone: "\e7f5";
$dispute-construction: "\e7f6";
$dispute-construction-cone: "\e7f7";
$dispute-pie-chart: "\e7f8";
$dispute-pie-chart2: "\e7f9";
$dispute-graph: "\e7fa";
$dispute-chart-growth: "\e7fb";
$dispute-chart-bars: "\e7fc";
$dispute-chart-settings: "\e7fd";
$dispute-cake: "\e7fe";
$dispute-gift: "\e7ff";
$dispute-balloon: "\e800";
$dispute-rank: "\e801";
$dispute-rank2: "\e802";
$dispute-rank3: "\e803";
$dispute-crown: "\e804";
$dispute-lotus: "\e805";
$dispute-diamond: "\e806";
$dispute-diamond2: "\e807";
$dispute-diamond3: "\e808";
$dispute-diamond4: "\e809";
$dispute-linearicons: "\e80a";
$dispute-teacup: "\e80b";
$dispute-teapot: "\e80c";
$dispute-glass: "\e80d";
$dispute-bottle2: "\e80e";
$dispute-glass-cocktail: "\e80f";
$dispute-glass2: "\e810";
$dispute-dinner: "\e811";
$dispute-dinner2: "\e812";
$dispute-chef: "\e813";
$dispute-scale2: "\e814";
$dispute-egg: "\e815";
$dispute-egg2: "\e816";
$dispute-eggs: "\e817";
$dispute-platter: "\e818";
$dispute-steak: "\e819";
$dispute-hamburger: "\e81a";
$dispute-hotdog: "\e81b";
$dispute-pizza: "\e81c";
$dispute-sausage: "\e81d";
$dispute-chicken: "\e81e";
$dispute-fish: "\e81f";
$dispute-carrot: "\e820";
$dispute-cheese: "\e821";
$dispute-bread: "\e822";
$dispute-ice-cream: "\e823";
$dispute-ice-cream2: "\e824";
$dispute-candy: "\e825";
$dispute-lollipop: "\e826";
$dispute-coffee-bean: "\e827";
$dispute-coffee-cup: "\e828";
$dispute-cherry: "\e829";
$dispute-grapes: "\e82a";
$dispute-citrus: "\e82b";
$dispute-apple: "\e82c";
$dispute-leaf: "\e82d";
$dispute-landscape: "\e82e";
$dispute-pine-tree: "\e82f";
$dispute-tree: "\e830";
$dispute-cactus: "\e831";
$dispute-paw: "\e832";
$dispute-footprint: "\e833";
$dispute-speed-slow: "\e834";
$dispute-speed-medium: "\e835";
$dispute-speed-fast: "\e836";
$dispute-rocket: "\e837";
$dispute-hammer2: "\e838";
$dispute-balance: "\e839";
$dispute-briefcase: "\e83a";
$dispute-luggage-weight: "\e83b";
$dispute-dolly: "\e83c";
$dispute-plane: "\e83d";
$dispute-plane-crossed: "\e83e";
$dispute-helicopter: "\e83f";
$dispute-traffic-lights: "\e840";
$dispute-siren: "\e841";
$dispute-road: "\e842";
$dispute-engine: "\e843";
$dispute-oil-pressure: "\e844";
$dispute-coolant-temperature: "\e845";
$dispute-car-battery: "\e846";
$dispute-gas: "\e847";
$dispute-gallon: "\e848";
$dispute-transmission: "\e849";
$dispute-car: "\e84a";
$dispute-car-wash: "\e84b";
$dispute-car-wash2: "\e84c";
$dispute-bus: "\e84d";
$dispute-bus2: "\e84e";
$dispute-car2: "\e84f";
$dispute-parking: "\e850";
$dispute-car-lock: "\e851";
$dispute-taxi: "\e852";
$dispute-car-siren: "\e853";
$dispute-car-wash3: "\e854";
$dispute-car-wash4: "\e855";
$dispute-ambulance: "\e856";
$dispute-truck: "\e857";
$dispute-trailer: "\e858";
$dispute-scale-truck: "\e859";
$dispute-train: "\e85a";
$dispute-ship: "\e85b";
$dispute-ship2: "\e85c";
$dispute-anchor: "\e85d";
$dispute-boat: "\e85e";
$dispute-bicycle: "\e85f";
$dispute-bicycle2: "\e860";
$dispute-dumbbell: "\e861";
$dispute-bench-press: "\e862";
$dispute-swim: "\e863";
$dispute-football: "\e864";
$dispute-baseball-bat: "\e865";
$dispute-baseball: "\e866";
$dispute-tennis: "\e867";
$dispute-tennis2: "\e868";
$dispute-ping-pong: "\e869";
$dispute-hockey: "\e86a";
$dispute-8ball: "\e86b";
$dispute-bowling: "\e86c";
$dispute-bowling-pins: "\e86d";
$dispute-golf: "\e86e";
$dispute-golf2: "\e86f";
$dispute-archery: "\e870";
$dispute-slingshot: "\e871";
$dispute-soccer: "\e872";
$dispute-basketball: "\e873";
$dispute-cube: "\e874";
$dispute-3d-rotate: "\e875";
$dispute-puzzle: "\e876";
$dispute-glasses: "\e877";
$dispute-glasses2: "\e878";
$dispute-accessibility: "\e879";
$dispute-wheelchair: "\e87a";
$dispute-wall: "\e87b";
$dispute-fence: "\e87c";
$dispute-wall2: "\e87d";
$dispute-icons: "\e87e";
$dispute-resize-handle: "\e87f";
$dispute-icons2: "\e880";
$dispute-select: "\e881";
$dispute-select2: "\e882";
$dispute-site-map: "\e883";
$dispute-earth: "\e884";
$dispute-earth-lock: "\e885";
$dispute-network: "\e886";
$dispute-network-lock: "\e887";
$dispute-planet: "\e888";
$dispute-happy: "\e889";
$dispute-smile: "\e88a";
$dispute-grin: "\e88b";
$dispute-tongue: "\e88c";
$dispute-sad: "\e88d";
$dispute-wink: "\e88e";
$dispute-dream: "\e88f";
$dispute-shocked: "\e890";
$dispute-shocked2: "\e891";
$dispute-tongue2: "\e892";
$dispute-neutral: "\e893";
$dispute-happy-grin: "\e894";
$dispute-cool: "\e895";
$dispute-mad: "\e896";
$dispute-grin-evil: "\e897";
$dispute-evil: "\e898";
$dispute-wow: "\e899";
$dispute-annoyed: "\e89a";
$dispute-wondering: "\e89b";
$dispute-confused: "\e89c";
$dispute-zipped: "\e89d";
$dispute-grumpy: "\e89e";
$dispute-mustache: "\e89f";
$dispute-tombstone-hipster: "\e8a0";
$dispute-tombstone: "\e8a1";
$dispute-ghost: "\e8a2";
$dispute-ghost-hipster: "\e8a3";
$dispute-halloween: "\e8a4";
$dispute-christmas: "\e8a5";
$dispute-easter-egg: "\e8a6";
$dispute-mustache2: "\e8a7";
$dispute-mustache-glasses: "\e8a8";
$dispute-pipe: "\e8a9";
$dispute-alarm: "\e8aa";
$dispute-alarm-add: "\e8ab";
$dispute-alarm-snooze: "\e8ac";
$dispute-alarm-ringing: "\e8ad";
$dispute-bullhorn: "\e8ae";
$dispute-hearing: "\e8af";
$dispute-volume-high: "\e8b0";
$dispute-volume-medium: "\e8b1";
$dispute-volume-low: "\e8b2";
$dispute-volume: "\e8b3";
$dispute-mute: "\e8b4";
$dispute-lan: "\e8b5";
$dispute-lan2: "\e8b6";
$dispute-wifi: "\e8b7";
$dispute-wifi-lock: "\e8b8";
$dispute-wifi-blocked: "\e8b9";
$dispute-wifi-mid: "\e8ba";
$dispute-wifi-low: "\e8bb";
$dispute-wifi-low2: "\e8bc";
$dispute-wifi-alert: "\e8bd";
$dispute-wifi-alert-mid: "\e8be";
$dispute-wifi-alert-low: "\e8bf";
$dispute-wifi-alert-low2: "\e8c0";
$dispute-stream: "\e8c1";
$dispute-stream-check: "\e8c2";
$dispute-stream-error: "\e8c3";
$dispute-stream-alert: "\e8c4";
$dispute-communication: "\e8c5";
$dispute-communication-crossed: "\e8c6";
$dispute-broadcast: "\e8c7";
$dispute-antenna: "\e8c8";
$dispute-satellite: "\e8c9";
$dispute-satellite2: "\e8ca";
$dispute-mic: "\e8cb";
$dispute-mic-mute: "\e8cc";
$dispute-mic2: "\e8cd";
$dispute-spotlights: "\e8ce";
$dispute-hourglass: "\e8cf";
$dispute-loading: "\e8d0";
$dispute-loading2: "\e8d1";
$dispute-loading3: "\e8d2";
$dispute-refresh: "\e8d3";
$dispute-refresh2: "\e8d4";
$dispute-undo: "\e8d5";
$dispute-redo: "\e8d6";
$dispute-jump2: "\e8d7";
$dispute-undo2: "\e8d8";
$dispute-redo2: "\e8d9";
$dispute-sync: "\e8da";
$dispute-repeat-one2: "\e8db";
$dispute-sync-crossed: "\e8dc";
$dispute-sync2: "\e8dd";
$dispute-repeat-one3: "\e8de";
$dispute-sync-crossed2: "\e8df";
$dispute-return: "\e8e0";
$dispute-return2: "\e8e1";
$dispute-refund: "\e8e2";
$dispute-history: "\e8e3";
$dispute-history2: "\e8e4";
$dispute-self-timer: "\e8e5";
$dispute-clock: "\e8e6";
$dispute-clock2: "\e8e7";
$dispute-clock3: "\e8e8";
$dispute-watch: "\e8e9";
$dispute-alarm2: "\e8ea";
$dispute-alarm-add2: "\e8eb";
$dispute-alarm-remove: "\e8ec";
$dispute-alarm-check: "\e8ed";
$dispute-alarm-error: "\e8ee";
$dispute-timer: "\e8ef";
$dispute-timer-crossed: "\e8f0";
$dispute-timer2: "\e8f1";
$dispute-timer-crossed2: "\e8f2";
$dispute-download: "\e8f3";
$dispute-upload: "\e8f4";
$dispute-download2: "\e8f5";
$dispute-upload2: "\e8f6";
$dispute-enter-up: "\e8f7";
$dispute-enter-down: "\e8f8";
$dispute-enter-left: "\e8f9";
$dispute-enter-right: "\e8fa";
$dispute-exit-up: "\e8fb";
$dispute-exit-down: "\e8fc";
$dispute-exit-left: "\e8fd";
$dispute-exit-right: "\e8fe";
$dispute-enter-up2: "\e8ff";
$dispute-enter-down2: "\e901";
$dispute-enter-vertical: "\e902";
$dispute-enter-left2: "\e903";
$dispute-enter-right2: "\e904";
$dispute-enter-horizontal: "\e905";
$dispute-exit-up2: "\e906";
$dispute-exit-down2: "\e907";
$dispute-exit-left2: "\e908";
$dispute-exit-right2: "\e909";
$dispute-cli: "\e90a";
$dispute-bug: "\e90b";
$dispute-code: "\e90c";
$dispute-file-code: "\e90d";
$dispute-file-image: "\e90e";
$dispute-file-zip: "\e90f";
$dispute-file-audio: "\e910";
$dispute-file-video: "\e911";
$dispute-file-preview: "\e912";
$dispute-file-charts: "\e913";
$dispute-file-stats: "\e914";
$dispute-file-spreadsheet: "\e915";
$dispute-link: "\e916";
$dispute-unlink: "\e917";
$dispute-link2: "\e918";
$dispute-unlink2: "\e919";
$dispute-thumbs-up: "\e91a";
$dispute-thumbs-down: "\e91b";
$dispute-thumbs-up2: "\e91c";
$dispute-thumbs-down2: "\e91d";
$dispute-thumbs-up3: "\e91e";
$dispute-thumbs-down3: "\e91f";
$dispute-share: "\e920";
$dispute-share2: "\e921";
$dispute-share3: "\e922";
$dispute-magnifier: "\e923";
$dispute-file-search: "\e924";
$dispute-find-replace: "\e925";
$dispute-zoom-in: "\e926";
$dispute-zoom-out: "\e927";
$dispute-loupe: "\e928";
$dispute-loupe-zoom-in: "\e929";
$dispute-loupe-zoom-out: "\e92a";
$dispute-cross: "\e92b";
$dispute-menu: "\e92c";
$dispute-list: "\e92d";
$dispute-list2: "\e92e";
$dispute-list3: "\e92f";
$dispute-menu2: "\e930";
$dispute-list4: "\e931";
$dispute-menu3: "\e932";
$dispute-exclamation: "\e933";
$dispute-question: "\e934";
$dispute-check: "\e935";
$dispute-cross2: "\e936";
$dispute-plus: "\e937";
$dispute-minus: "\e938";
$dispute-percent: "\e939";
$dispute-chevron-up: "\e93a";
$dispute-chevron-down: "\e93b";
$dispute-chevron-left: "\e93c";
$dispute-chevron-right: "\e93d";
$dispute-chevrons-expand-vertical: "\e93e";
$dispute-chevrons-expand-horizontal: "\e93f";
$dispute-chevrons-contract-vertical: "\e940";
$dispute-chevrons-contract-horizontal: "\e941";
$dispute-arrow-up: "\e942";
$dispute-arrow-down: "\e943";
$dispute-arrow-left: "\e944";
$dispute-arrow-right: "\e945";
$dispute-arrow-up-right: "\e946";
$dispute-arrows-merge: "\e947";
$dispute-arrows-split: "\e948";
$dispute-arrow-divert: "\e949";
$dispute-arrow-return: "\e94a";
$dispute-expand: "\e94b";
$dispute-contract: "\e94c";
$dispute-expand2: "\e94d";
$dispute-contract2: "\e94e";
$dispute-move: "\e94f";
$dispute-tab: "\e950";
$dispute-arrow-wave: "\e951";
$dispute-expand3: "\e952";
$dispute-expand4: "\e953";
$dispute-contract3: "\e954";
$dispute-notification: "\e955";
$dispute-warning: "\e956";
$dispute-notification-circle: "\e957";
$dispute-question-circle: "\e958";
$dispute-menu-circle: "\e959";
$dispute-checkmark-circle: "\e95a";
$dispute-cross-circle: "\e95b";
$dispute-plus-circle: "\e95c";
$dispute-circle-minus: "\e95d";
$dispute-percent-circle: "\e95e";
$dispute-arrow-up-circle: "\e95f";
$dispute-arrow-down-circle: "\e960";
$dispute-arrow-left-circle: "\e961";
$dispute-arrow-right-circle: "\e962";
$dispute-chevron-up-circle: "\e963";
$dispute-chevron-down-circle: "\e964";
$dispute-chevron-left-circle: "\e965";
$dispute-chevron-right-circle: "\e966";
$dispute-backward-circle: "\e967";
$dispute-first-circle: "\e968";
$dispute-previous-circle: "\e969";
$dispute-stop-circle: "\e96a";
$dispute-play-circle: "\e96b";
$dispute-pause-circle: "\e96c";
$dispute-next-circle: "\e96d";
$dispute-last-circle: "\e96e";
$dispute-forward-circle: "\e96f";
$dispute-eject-circle: "\e970";
$dispute-crop: "\e971";
$dispute-frame-expand: "\e972";
$dispute-frame-contract: "\e973";
$dispute-focus: "\e974";
$dispute-transform: "\e975";
$dispute-grid: "\e976";
$dispute-grid-crossed: "\e977";
$dispute-layers: "\e978";
$dispute-layers-crossed: "\e979";
$dispute-toggle: "\e97a";
$dispute-rulers: "\e97b";
$dispute-ruler: "\e97c";
$dispute-funnel: "\e97d";
$dispute-flip-horizontal: "\e97e";
$dispute-flip-vertical: "\e97f";
$dispute-flip-horizontal2: "\e980";
$dispute-flip-vertical2: "\e981";
$dispute-angle: "\e982";
$dispute-angle2: "\e983";
$dispute-subtract: "\e984";
$dispute-combine: "\e985";
$dispute-intersect: "\e986";
$dispute-exclude: "\e987";
$dispute-align-center-vertical: "\e988";
$dispute-align-right: "\e989";
$dispute-align-bottom: "\e98a";
$dispute-align-left: "\e98b";
$dispute-align-center-horizontal: "\e98c";
$dispute-align-top: "\e98d";
$dispute-square: "\e98e";
$dispute-plus-square: "\e98f";
$dispute-minus-square: "\e990";
$dispute-percent-square: "\e991";
$dispute-arrow-up-square: "\e992";
$dispute-arrow-down-square: "\e993";
$dispute-arrow-left-square: "\e994";
$dispute-arrow-right-square: "\e995";
$dispute-chevron-up-square: "\e996";
$dispute-chevron-down-square: "\e997";
$dispute-chevron-left-square: "\e998";
$dispute-chevron-right-square: "\e999";
$dispute-check-square: "\e99a";
$dispute-cross-square: "\e99b";
$dispute-menu-square: "\e99c";
$dispute-prohibited: "\e99d";
$dispute-circle: "\e99e";
$dispute-radio-button: "\e99f";
$dispute-ligature: "\e9a0";
$dispute-text-format: "\e9a1";
$dispute-text-format-remove: "\e9a2";
$dispute-text-size: "\e9a3";
$dispute-bold: "\e9a4";
$dispute-italic: "\e9a5";
$dispute-underline: "\e9a6";
$dispute-strikethrough: "\e9a7";
$dispute-highlight: "\e9a8";
$dispute-text-align-left: "\e9a9";
$dispute-text-align-center: "\e9aa";
$dispute-text-align-right: "\e9ab";
$dispute-text-align-justify: "\e9ac";
$dispute-line-spacing: "\e9ad";
$dispute-indent-increase: "\e9ae";
$dispute-indent-decrease: "\e9af";
$dispute-text-wrap: "\e9b0";
$dispute-pilcrow: "\e9b1";
$dispute-direction-ltr: "\e9b2";
$dispute-direction-rtl: "\e9b3";
$dispute-page-break: "\e9b4";
$dispute-page-break2: "\e9b5";
$dispute-sort-alpha-asc: "\e9b6";
$dispute-sort-alpha-desc: "\e9b7";
$dispute-sort-numeric-asc: "\e9b8";
$dispute-sort-numeric-desc: "\e9b9";
$dispute-sort-amount-asc: "\e9ba";
$dispute-sort-amount-desc: "\e9bb";
$dispute-sort-time-asc: "\e9bc";
$dispute-sort-time-desc: "\e9bd";
$dispute-sigma: "\e9be";
$dispute-pencil-line: "\e9bf";
$dispute-hand: "\e9c0";
$dispute-pointer-up: "\e9c1";
$dispute-pointer-right: "\e9c2";
$dispute-pointer-down: "\e9c3";
$dispute-pointer-left: "\e9c4";
$dispute-finger-tap: "\e9c5";
$dispute-fingers-tap: "\e9c6";
$dispute-reminder: "\e9c7";
$dispute-fingers-crossed: "\e9c8";
$dispute-fingers-victory: "\e9c9";
$dispute-gesture-zoom: "\e9ca";
$dispute-gesture-pinch: "\e9cb";
$dispute-fingers-scroll-horizontal: "\e9cc";
$dispute-fingers-scroll-vertical: "\e9cd";
$dispute-fingers-scroll-left: "\e9ce";
$dispute-fingers-scroll-right: "\e9cf";
$dispute-hand2: "\e9d0";
$dispute-pointer-up2: "\e9d1";
$dispute-pointer-right2: "\e9d2";
$dispute-pointer-down2: "\e9d3";
$dispute-pointer-left2: "\e9d4";
$dispute-finger-tap2: "\e9d5";
$dispute-fingers-tap2: "\e9d6";
$dispute-reminder2: "\e9d7";
$dispute-gesture-zoom2: "\e9d8";
$dispute-gesture-pinch2: "\e9d9";
$dispute-fingers-scroll-horizontal2: "\e9da";
$dispute-fingers-scroll-vertical2: "\e9db";
$dispute-fingers-scroll-left2: "\e9dc";
$dispute-fingers-scroll-right2: "\e9dd";
$dispute-fingers-scroll-vertical3: "\e9de";
$dispute-border-style: "\e9df";
$dispute-border-all: "\e9e0";
$dispute-border-outer: "\e9e1";
$dispute-border-inner: "\e9e2";
$dispute-border-top: "\e9e3";
$dispute-border-horizontal: "\e9e4";
$dispute-border-bottom: "\e9e5";
$dispute-border-left: "\e9e6";
$dispute-border-vertical: "\e9e7";
$dispute-border-right: "\e9e8";
$dispute-border-none: "\e9e9";
$dispute-ellipsis: "\e9ea";

